<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital.Mapper.HospitalMapper">
   <!-- List<SecSecondDepartment> getSecondDepartmentById(Integer hospitalId);-->
    <select id="getSecondDepartmentById" resultType="com.buba.hospital.Bean.SecSecondDepartment">
        SELECT
            sec_second_department.*
        FROM
            sec_second_department
            LEFT JOIN sec_first_department ON sec_second_department.first_department_id = sec_first_department.id
        WHERE
            hospital_id = #{hospitalId}

    </select>
    <!--SecHospital getHospital(Integer hospitalId);-->
    <select id="getHospital" resultType="com.buba.hospital.Bean.SecHospital">
        select * from sec_hospital where id=#{hospitalId}
    </select>
    <!--List<SecPic> getSwiper(Integer hospitalId);-->
    <select id="getSwiper" resultType="com.buba.hospital.Bean.SecPic">
        SELECT
            *
        FROM
            sec_pic
        WHERE
            obj_id =#{hospitalId}
            AND obj_type = 'hospital'
            AND type = 'focus'
        ORDER BY
            id DESC
            LIMIT 3
    </select>
    <!--List<SecHospitalArticleVo> getArticleList(Integer hospitalId);-->
    <resultMap id="articleMap" type="com.buba.hospital.Bean.SecHospitalArticleVo" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="secPics" ofType="com.buba.hospital.Bean.SecPic">
            <id column="picId" property="id"></id>
            <result column="pic_path" property="picPath"></result>
            <result column="sequence" property="sequence"></result>
        </collection>
    </resultMap>
    <select id="getArticleList" resultMap="articleMap">
        SELECT
          sec_hospital_article.*,
          sec_pic.id picId,
          pic_path,
          sequence
        FROM
          sec_hospital_article
        LEFT JOIN sec_pic ON sec_hospital_article.id = sec_pic.obj_id
        AND obj_type = 'article'
        WHERE
          hospital_id =#{hospitalId} and article_type=2
    </select>
    <!--
    List<SecHospitalArticleInfoVo> getArticleInfoList(int i);
    -->
    <select id="getArticleInfoList" resultType="com.buba.hospital.Bean.SecHospitalArticleInfoVo">
            select sha.article_title articleTitle, shai.article_info info,shai.sequence from sec_hospital_article sha, sec_hospital_article_info shai
            where sha.id=shai.article_id
            and sha.id=#{i}
    </select>
    <!--
        List<SecHospitalArticleInfoVo> getArticleImgList(int i);
        -->
    <select id="getArticleImgList" resultType="com.buba.hospital.Bean.SecHospitalArticleInfoVo">
            select pic_path info,sequence from sec_pic where obj_id=#{i}
            and obj_type='article'
    </select>
</mapper>
