<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital.Mapper.HospitalMapper">
   <!-- List<SecSecondDepartment> getSecondDepartmentById(Integer hospitalId);-->
    <select id="getSecondDepartmentById" resultType="com.buba.hospital.Bean.SecSecondDepartment">
        SELECT
            sec_second_department.*
        FROM
            sec_second_department
            LEFT JOIN sec_first_department ON sec_second_department.first_department_id = sec_first_department.id
        WHERE
            hospital_id = #{hospitalId}

    </select>
    <!--SecHospital getHospital(Integer hospitalId);-->
    <select id="getHospital" resultType="com.buba.hospital.Bean.SecHospital">
        select * from sec_hospital where id=#{hospitalId}
    </select>
    <!--List<SecPic> getSwiper(Integer hospitalId);-->
    <select id="getSwiper" resultType="com.buba.hospital.Bean.SecPic">
        SELECT
            *
        FROM
            sec_pic
        WHERE
            obj_id =#{hospitalId}
            AND obj_type = 'hospital'
            AND type = 'focus'
        ORDER BY
            id DESC
            LIMIT 3
    </select>

    <!--//新增楼盘
   boolean addSecConsultation(@Param("doctor") Doctor doctor, @Param("userid") int userid,@Param("phone") String phone,@Param("biaoti") String biaoti, @Param("text") String text,@Param("fix") String fix@Param("paymentStatus") int paymentStatus,@Param("orderId") int orderId);-->
    <insert id="addSecConsultation"  useGeneratedKeys="true" keyProperty="doctor.id" >
     insert into sec_consultation (id, status, disabled,
      createtime, order_id, patient_id,
      question_title, sex, Illness_description,
      payment_status, doctor_id, response_id,
      response, response_time)
    values (null, 1, 0,
      now(), #{orderId}, #{userid},
      #{biaoti}, #{fix}, #{text},
      #{paymentStatus}, #{doctor.id}, null,
      null,null)
  </insert>
    <!--//添加订单表
    boolean addHisOrder(@Param("hisOrder") HisOrder hisOrder);-->
    <insert id="addHisOrder" parameterType="com.buba.hospital.Bean.HisOrder" useGeneratedKeys="true" keyProperty="hisOrder.id">
    insert into his_order (id, disabled, createtime,
      order_name, order_num, order_placer,
      status, pay_start_time, refund_start_time,
      pay_money, pay_way)
    values (null, #{hisOrder.disabled,jdbcType=BIT}, now(),
      #{hisOrder.orderName,jdbcType=VARCHAR}, #{hisOrder.orderNum,jdbcType=VARCHAR}, #{hisOrder.orderPlacer,jdbcType=INTEGER},
      #{hisOrder.status,jdbcType=VARCHAR}, #{hisOrder.payStartTime,jdbcType=TIMESTAMP}, #{hisOrder.refundStartTime,jdbcType=TIMESTAMP},
      #{hisOrder.payMoney,jdbcType=DOUBLE}, #{hisOrder.payWay,jdbcType=VARCHAR})
  </insert>
    <!-- //添加图片
     boolean addSecPicBySecConsultation(@Param("pic") SecPic pic);-->
    <insert id="addSecPicBySecConsultation" parameterType="com.buba.hospital.Bean.SecPic">
    insert into sec_pic (id, status, disabled,
      createtime, type, obj_id,
      obj_type, pic_name, pic_size,
      pic_path, pic_info, sequence
      )
    values (null, #{pic.status,jdbcType=VARCHAR}, #{pic.disabled,jdbcType=BIT},
      now(), #{pic.type,jdbcType=VARCHAR}, #{pic.objId,jdbcType=INTEGER},
      #{pic.objType,jdbcType=VARCHAR}, #{pic.picName,jdbcType=VARCHAR}, #{pic.picSize,jdbcType=VARCHAR},
      #{pic.picPath,jdbcType=VARCHAR}, #{pic.picInfo,jdbcType=VARCHAR}, #{pic.sequence,jdbcType=INTEGER}
      )
  </insert>
    <!-- boolean updateConsultationState(int id);-->
    <update id="updateConsultationState">
          UPDATE sec_consultation SET sec_consultation.payment_status=1
          WHERE sec_consultation.id=#{id}
    </update>
    <!--  boolean updateOrderState(String orderNum);-->
    <update id="updateOrderState">
          UPDATE his_order SET status=1
          WHERE order_num=#{id}
    </update>
    <!--List<SecHospitalArticleVo> getArticleList(Integer hospitalId, Integer articleType);-->
    <resultMap id="articleMap" type="com.buba.hospital.Bean.SecHospitalArticleVo" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="secPics" ofType="com.buba.hospital.Bean.SecPic">
            <id column="picId" property="id"></id>
            <result column="pic_path" property="picPath"></result>
            <result column="sequence" property="sequence"></result>
        </collection>
    </resultMap>
    <select id="getArticleList" resultMap="articleMap">
        SELECT
          sec_hospital_article.*,
          sec_pic.id picId,
          pic_path,
          sequence
        FROM
          sec_hospital_article
        LEFT JOIN sec_pic ON sec_hospital_article.id = sec_pic.obj_id
        AND obj_type = 'article'
        WHERE
          hospital_id =#{hospitalId} and article_type=#{articleType}
    </select>
    <!--
    List<SecHospitalArticleInfoVo> getArticleInfoList(Integer articleId, Integer articleType);
    -->
    <select id="getArticleInfoList" resultType="com.buba.hospital.Bean.SecHospitalArticleInfoVo">
            select sha.article_title articleTitle, shai.article_info info,shai.sequence from sec_hospital_article sha, sec_hospital_article_info shai
            where sha.id=shai.article_id
            and sha.id=#{i}
    </select>
    <!--
        List<SecHospitalArticleInfoVo> getArticleImgList(int i);
        -->
    <select id="getArticleImgList" resultType="com.buba.hospital.Bean.SecHospitalArticleInfoVo">
            select pic_path info,sequence from sec_pic where obj_id=#{i}
            and obj_type='article'
    </select>
</mapper>
