<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital.Mapper.PatientMapper" >

    <!-- int UpdateMoren(Integer id); 修改就诊人默认人-->
    <update id="UpdateMoren">
UPDATE sec_patient
        SET is_default = CASE id
                           when #{id} then 1
                           else 0
                           END
		  WHERE user_id = 18

    </update>



    <!--SecPatient selectHuixiapatient(Integer id); 回显就诊人，有默认回显（就诊信息）-->
    <select id="selectHuixiapatient" resultType="com.buba.hospital.Bean.SecPatient">
      select patient_name patientName from  sec_patient where user_id=#{id} and is_default=1
    </select>

    <!-- SecUser selectUser(Integer id); 回显就诊人,没有默认回显 （就诊信息）-->
    <select id="selectUser" resultType="com.buba.hospital.Bean.SecPatient">
      select username patientName from  sec_user where id=#{id}
    </select>
    <!--==================================JZ================================-->


    <!--//门诊缴费==就诊人姓名、卡号 SecPatient findNameAndCard(Integer patientId);-->


    <select resultType="com.buba.hospital.Bean.SecPatient" id="findNameAndCard">

      select * from sec_patient where id = #{patientId}

    </select>

    <!--门诊缴费=根据就诊人查未支付的订单信息=单号、姓名、时间、缴费名、金额 List<PayHoPatVO> findOrderInfo(Integer orderPlacer);-->

    <select resultType="com.buba.hospital.Bean.PayHoPatVO" id="findOrderInfo">
        SELECT
            his_order.*,
            sec_payment.order_name orderDetailName,
            sec_payment.file_addr
        FROM
            his_order,sec_payment
        WHERE
            his_order.id=sec_payment.order_id
            and his_order.`status` = 0
            AND his_order.order_name = '门诊缴费'
            and his_order.order_placer=#{orderPlacer}
    </select>

    <!--//门诊缴费==支付方式页面：单号，名称， 金额 HisOrder findPayWays(String orderNum);-->


    <select resultType="com.buba.hospital.Bean.HisOrder" id="findPayWays">
      select * from his_order where order_num=#{orderNum}

    </select>
    <!-- List<PayHoPatVO> payMentList(String[] ids);-->
    <select resultType="com.buba.hospital.Bean.PayHoPatVO" id="payMentList">
        SELECT
            his_order.*,
            sec_payment.order_name orderDetailName,
            sec_payment.file_addr
        FROM
            his_order,sec_payment
        WHERE
            his_order.id=sec_payment.order_id
            and his_order.`status` = 0
            and his_order.order_num in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

            AND his_order.order_name = '门诊缴费'

    </select>
   <!-- boolean updateJiaofeiOrder(String payWay, Integer[] ids);-->
    <update id="updateJiaofeiOrder">
      update his_order set status=1,pay_start_time=now(),pay_way=#{payWay} where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>