<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital.Mapper.PatientMapper" >





    <!-- List<SecPatient> selectpatient(Integer id);查询当前用户就诊人-->
    <select id="selectpatient" resultType="com.buba.hospital.Bean.SecPatient">
        select sec_patient.id,  sec_patient.is_default isDefault, sec_patient.status,
sec_patient.patient_name patientName,sec_patient.patient_tel patientTel,
sec_patient.patient_idCard patientIdCard
 from sec_reservation,sec_doctor,sec_report,sec_patient,sec_user,sec_second_department
 where
sec_report.examine_id=sec_reservation.doctor_id
and sec_reservation.doctor_id=sec_doctor.id
and sec_second_department.id=sec_reservation.department_id
and sec_patient.id=sec_reservation.patient_id
and sec_user.id=sec_reservation.user_id
and sec_reservation.user_id=sec_patient.user_id
and   sec_user.id=#{id}
GROUP BY sec_patient.id
    </select>

    <!-- int UpdateMoren(Integer id); 修改就诊人默认人-->
    <update id="UpdateMoren">
UPDATE sec_patient
        SET is_default = CASE id
                           when #{id} then 1
                           else 0
                           END
		  WHERE user_id = 18

    </update>



    <!--SecPatient selectHuixiapatient(Integer id); 回显就诊人，有默认回显（就诊信息）-->
    <select id="selectHuixiapatient" resultType="com.buba.hospital.Bean.SecPatient">
      select patient_name patientName from  sec_patient where user_id=#{id} and is_default=1
    </select>

    <!-- SecUser selectUser(Integer id); 回显就诊人,没有默认回显 （就诊信息）-->
    <select id="selectUser" resultType="com.buba.hospital.Bean.SecPatient">
      select username patientName from  sec_user where id=#{id}
    </select>
    <!--==================================JZ================================-->


    <!--//门诊缴费==就诊人姓名、卡号 SecPatient findNameAndCard(Integer patientId);-->


    <select resultType="com.buba.hospital.Bean.SecPatient" id="findNameAndCard">select * from sec_patient where id = #{patientId} </select>

    <!--门诊缴费=根据就诊人查未支付的订单信息=单号、姓名、时间、缴费名、金额 List<PayHoPatVO> findOrderInfo(Integer orderPlacer);-->


    <select resultType="com.buba.hospital.Bean.PayHoPatVO" id="findOrderInfo">SELECT ho.`order_num`,pat.`patient_name`,pay.`price_time`,hp.`name`,hp.`price`FROM sec_payment payLEFT JOIN his_order ho ON ho.id=pay.order_idLEFT JOIN sec_patient pat ON pat.id=pay.patient_idLEFT JOIN his_payment hp ON hp.`order_id`=ho.`id`WHERE ho.order_placer=#{orderPlacer} AND ho.status='0'AND ho.order_name='门诊缴费' </select>

    <!--//门诊缴费==支付方式页面：单号，名称， 金额 HisOrder findPayWays(String orderNum);-->


    <select resultType="com.buba.hospital.Bean.HisOrder" id="findPayWays"> select * from his_order where order_num=#{orderNum} </select>

</mapper>