<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital.Mapper.ReservationMapper">
   <!--List<ReservationVo> find_reservation(Integer id);-->
<select id="find_reservation" resultType="com.buba.hospital.Bean.ReservationVo">
	SELECT
	o.id,
	p.patient_name patientName,
	p.patient_medicalCardNumber patientMedicalcardnumber,
	p.patient_tel patientTel,
	o.order_num orderNum,
	o.order_name orderName,
	o.pay_start_time payStartTime,
	o.pay_money payMoney,
	o.pay_way payWay,
	o.STATUS orderStatus,
	t.timeframe timeframe,
	d.NAME doctorName,
	h.hospital_name hospitalName,
	f.department_name departmentName,
	a.appointment_time

FROM
	sec_reservation r,
	sec_patient p,
	his_order o,
	sec_doctor_appointmenttime_timeframe t,
	sec_doctor d,
	sec_hospital h,
	sec_first_department f ,
	sec_doctor_appointmenttime a
WHERE
	r.patient_id = p.id
	AND r.order_id = o.id
	AND o.order_name = '预约挂号'
	AND r.timeframe_id = t.id
	AND  a.id=t.appointmenttime_id
	AND r.doctor_id = d.id
	AND r.hospital_id = h.id
	AND r.department_id = f.id
	AND p.id=#{patientId}
</select>
	<!--List<ReservationVo> find_reservation_particulars(Integer id);-->

	<select id="find_reservation_particulars" resultType="com.buba.hospital.Bean.ReservationVo">
		SELECT
		o.id,
		p.patient_name patientName,
		p.patient_medicalCardNumber patientMedicalcardnumber,
		p.patient_tel patientTel,
		o.order_num orderNum,
		o.order_name orderName,
		o.pay_start_time payStartTime,
		o.pay_money payMoney,
		o.pay_way payWay,
		o.STATUS orderStatus,
		t.timeframe timeframe,
		d.NAME doctorName,
		h.hospital_name hospitalName,
		f.department_name departmentName,
		a.appointment_time

	FROM
		sec_reservation r,
		sec_patient p,
		his_order o,
		sec_doctor_appointmenttime_timeframe t,
		sec_doctor d,
		sec_hospital h,
		sec_first_department f ,
		sec_doctor_appointmenttime a
	WHERE
		r.patient_id = p.id
		AND r.order_id = o.id
		AND o.order_name = '预约挂号'
		AND r.timeframe_id = t.id
		AND  a.id=t.appointmenttime_id
		AND r.doctor_id = d.id
		AND r.hospital_id = h.id
		AND r.department_id = f.id
			AND o.id = #{id}
		</select>
		<!--boolean cancelReservation(Integer id);-->
		<update id="cancelReservation">
			UPDATE his_order o,
			 sec_reservation r
			SET o.`status` = 4,
			 o.refund_start_time = NOW()
			WHERE
				o.id = r.order_id
			AND o.id =#{id}
	</update>
<!--List<PaymentVo> findPaymentVo(Integer patientId);-->
	<select id="findPaymentVo" resultType="com.buba.hospital.Bean.PaymentVo">
		select
			*
		FROM
			his_order

		WHERE
		 his_order.order_name = '就诊卡充值'
		 and
		order_placer=#{patientId}
	</select>
	<!--PaymentVo find_payTheFees(string orderNum);-->
	<select id="find_payTheFees" resultType="com.buba.hospital.Bean.PaymentVo">
		select * from his_order where order_num=#{orderNum}
	</select>
</mapper>
