<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.hospital.Mapper.SecFirstDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.buba.hospital.Bean.SecFirstDepartment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.buba.hospital.Bean.SecFirstDepartment">
    <result column="department_info" jdbcType="LONGVARCHAR" property="departmentInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, status, disabled, createtime, hospital_id, department_name, sequence
  </sql>
  <sql id="Blob_Column_List">
    department_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sec_first_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sec_first_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample">
    delete from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    insert into sec_first_department (id, status, disabled, 
      createtime, hospital_id, department_name, 
      sequence, department_info)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{hospitalId,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{departmentInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    insert into sec_first_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="departmentInfo != null">
        department_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="departmentInfo != null">
        #{departmentInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample" resultType="java.lang.Integer">
    select count(*) from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sec_first_department
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null">
        disabled = #{record.disabled,jdbcType=BIT},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hospitalId != null">
        hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      </if>
      <if test="record.departmentName != null">
        department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.sequence != null">
        sequence = #{record.sequence,jdbcType=INTEGER},
      </if>
      <if test="record.departmentInfo != null">
        department_info = #{record.departmentInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sec_first_department
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      sequence = #{record.sequence,jdbcType=INTEGER},
      department_info = #{record.departmentInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sec_first_department
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      sequence = #{record.sequence,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    update sec_first_department
    <set>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="departmentInfo != null">
        department_info = #{departmentInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    update sec_first_department
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      department_name = #{departmentName,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      department_info = #{departmentInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    update sec_first_department
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      department_name = #{departmentName,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.buba.hospital.Bean.SecFirstDepartment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.buba.hospital.Bean.SecFirstDepartment">
    <result column="department_info" jdbcType="LONGVARCHAR" property="departmentInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, status, disabled, createtime, hospital_id, department_name, sequence
  </sql>
  <sql id="Blob_Column_List">
    department_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sec_first_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sec_first_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample">
    delete from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    insert into sec_first_department (id, status, disabled, 
      createtime, hospital_id, department_name, 
      sequence, department_info)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{hospitalId,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{departmentInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    insert into sec_first_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="departmentInfo != null">
        department_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="departmentInfo != null">
        #{departmentInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.buba.hospital.Bean.SecFirstDepartmentExample" resultType="java.lang.Integer">
    select count(*) from sec_first_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sec_first_department
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null">
        disabled = #{record.disabled,jdbcType=BIT},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hospitalId != null">
        hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      </if>
      <if test="record.departmentName != null">
        department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.sequence != null">
        sequence = #{record.sequence,jdbcType=INTEGER},
      </if>
      <if test="record.departmentInfo != null">
        department_info = #{record.departmentInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sec_first_department
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      sequence = #{record.sequence,jdbcType=INTEGER},
      department_info = #{record.departmentInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sec_first_department
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      sequence = #{record.sequence,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    update sec_first_department
    <set>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="departmentInfo != null">
        department_info = #{departmentInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    update sec_first_department
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      department_name = #{departmentName,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      department_info = #{departmentInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buba.hospital.Bean.SecFirstDepartment">
    update sec_first_department
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      department_name = #{departmentName,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>