<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.hospital.Mapper.SecPatientMapper">
  <resultMap id="BaseResultMap" type="com.buba.hospital.Bean.SecPatient">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_tel" jdbcType="VARCHAR" property="patientTel" />
    <result column="patient_idCard" jdbcType="VARCHAR" property="patientIdcard" />
    <result column="patient_medicalCardNumber" jdbcType="VARCHAR" property="patientMedicalcardnumber" />
    <result column="patient_healthCareCardNumber" jdbcType="VARCHAR" property="patientHealthcarecardnumber" />
    <result column="patient_area" jdbcType="VARCHAR" property="patientArea" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="medicalCard_balance" jdbcType="DOUBLE" property="medicalcardBalance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, status, disabled, createtime, user_id, patient_name, patient_tel, patient_idCard, 
    patient_medicalCardNumber, patient_healthCareCardNumber, patient_area, patient_address, 
    is_default, medicalCard_balance
  </sql>
  <select id="selectByExample" parameterType="com.buba.hospital.Bean.SecPatientExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sec_patient
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sec_patient
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.buba.hospital.Bean.SecPatientExample">
    delete from sec_patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.buba.hospital.Bean.SecPatient">
    insert into sec_patient (id, status, disabled, 
      createtime, user_id, patient_name, 
      patient_tel, patient_idCard, patient_medicalCardNumber, 
      patient_healthCareCardNumber, patient_area, 
      patient_address, is_default, medicalCard_balance
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{patientName,jdbcType=VARCHAR}, 
      #{patientTel,jdbcType=VARCHAR}, #{patientIdcard,jdbcType=VARCHAR}, #{patientMedicalcardnumber,jdbcType=VARCHAR}, 
      #{patientHealthcarecardnumber,jdbcType=VARCHAR}, #{patientArea,jdbcType=VARCHAR}, 
      #{patientAddress,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, #{medicalcardBalance,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.buba.hospital.Bean.SecPatient">
    insert into sec_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientTel != null">
        patient_tel,
      </if>
      <if test="patientIdcard != null">
        patient_idCard,
      </if>
      <if test="patientMedicalcardnumber != null">
        patient_medicalCardNumber,
      </if>
      <if test="patientHealthcarecardnumber != null">
        patient_healthCareCardNumber,
      </if>
      <if test="patientArea != null">
        patient_area,
      </if>
      <if test="patientAddress != null">
        patient_address,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="medicalcardBalance != null">
        medicalCard_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientTel != null">
        #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="patientIdcard != null">
        #{patientIdcard,jdbcType=VARCHAR},
      </if>
      <if test="patientMedicalcardnumber != null">
        #{patientMedicalcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientHealthcarecardnumber != null">
        #{patientHealthcarecardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientArea != null">
        #{patientArea,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null">
        #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="medicalcardBalance != null">
        #{medicalcardBalance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.buba.hospital.Bean.SecPatientExample" resultType="java.lang.Integer">
    select count(*) from sec_patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sec_patient
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null">
        disabled = #{record.disabled,jdbcType=BIT},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.patientName != null">
        patient_name = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientTel != null">
        patient_tel = #{record.patientTel,jdbcType=VARCHAR},
      </if>
      <if test="record.patientIdcard != null">
        patient_idCard = #{record.patientIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.patientMedicalcardnumber != null">
        patient_medicalCardNumber = #{record.patientMedicalcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.patientHealthcarecardnumber != null">
        patient_healthCareCardNumber = #{record.patientHealthcarecardnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.patientArea != null">
        patient_area = #{record.patientArea,jdbcType=VARCHAR},
      </if>
      <if test="record.patientAddress != null">
        patient_address = #{record.patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null">
        is_default = #{record.isDefault,jdbcType=BIT},
      </if>
      <if test="record.medicalcardBalance != null">
        medicalCard_balance = #{record.medicalcardBalance,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sec_patient
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      patient_name = #{record.patientName,jdbcType=VARCHAR},
      patient_tel = #{record.patientTel,jdbcType=VARCHAR},
      patient_idCard = #{record.patientIdcard,jdbcType=VARCHAR},
      patient_medicalCardNumber = #{record.patientMedicalcardnumber,jdbcType=VARCHAR},
      patient_healthCareCardNumber = #{record.patientHealthcarecardnumber,jdbcType=VARCHAR},
      patient_area = #{record.patientArea,jdbcType=VARCHAR},
      patient_address = #{record.patientAddress,jdbcType=VARCHAR},
      is_default = #{record.isDefault,jdbcType=BIT},
      medicalCard_balance = #{record.medicalcardBalance,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.buba.hospital.Bean.SecPatient">
    update sec_patient
    <set>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientTel != null">
        patient_tel = #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="patientIdcard != null">
        patient_idCard = #{patientIdcard,jdbcType=VARCHAR},
      </if>
      <if test="patientMedicalcardnumber != null">
        patient_medicalCardNumber = #{patientMedicalcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientHealthcarecardnumber != null">
        patient_healthCareCardNumber = #{patientHealthcarecardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientArea != null">
        patient_area = #{patientArea,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null">
        patient_address = #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="medicalcardBalance != null">
        medicalCard_balance = #{medicalcardBalance,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buba.hospital.Bean.SecPatient">
    update sec_patient
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_tel = #{patientTel,jdbcType=VARCHAR},
      patient_idCard = #{patientIdcard,jdbcType=VARCHAR},
      patient_medicalCardNumber = #{patientMedicalcardnumber,jdbcType=VARCHAR},
      patient_healthCareCardNumber = #{patientHealthcarecardnumber,jdbcType=VARCHAR},
      patient_area = #{patientArea,jdbcType=VARCHAR},
      patient_address = #{patientAddress,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      medicalCard_balance = #{medicalcardBalance,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.buba.hospital.Bean.SecPatient">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_tel" jdbcType="VARCHAR" property="patientTel" />
    <result column="patient_idCard" jdbcType="VARCHAR" property="patientIdcard" />
    <result column="patient_medicalCardNumber" jdbcType="VARCHAR" property="patientMedicalcardnumber" />
    <result column="patient_healthCareCardNumber" jdbcType="VARCHAR" property="patientHealthcarecardnumber" />
    <result column="patient_area" jdbcType="VARCHAR" property="patientArea" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="medicalCard_balance" jdbcType="DOUBLE" property="medicalcardBalance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, status, disabled, createtime, user_id, patient_name, patient_tel, patient_idCard, 
    patient_medicalCardNumber, patient_healthCareCardNumber, patient_area, patient_address, 
    is_default, medicalCard_balance
  </sql>
  <select id="selectByExample" parameterType="com.buba.hospital.Bean.SecPatientExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sec_patient
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sec_patient
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.buba.hospital.Bean.SecPatientExample">
    delete from sec_patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.buba.hospital.Bean.SecPatient">
    insert into sec_patient (id, status, disabled, 
      createtime, user_id, patient_name, 
      patient_tel, patient_idCard, patient_medicalCardNumber, 
      patient_healthCareCardNumber, patient_area, 
      patient_address, is_default, medicalCard_balance
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{patientName,jdbcType=VARCHAR}, 
      #{patientTel,jdbcType=VARCHAR}, #{patientIdcard,jdbcType=VARCHAR}, #{patientMedicalcardnumber,jdbcType=VARCHAR}, 
      #{patientHealthcarecardnumber,jdbcType=VARCHAR}, #{patientArea,jdbcType=VARCHAR}, 
      #{patientAddress,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, #{medicalcardBalance,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.buba.hospital.Bean.SecPatient">
    insert into sec_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientTel != null">
        patient_tel,
      </if>
      <if test="patientIdcard != null">
        patient_idCard,
      </if>
      <if test="patientMedicalcardnumber != null">
        patient_medicalCardNumber,
      </if>
      <if test="patientHealthcarecardnumber != null">
        patient_healthCareCardNumber,
      </if>
      <if test="patientArea != null">
        patient_area,
      </if>
      <if test="patientAddress != null">
        patient_address,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="medicalcardBalance != null">
        medicalCard_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientTel != null">
        #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="patientIdcard != null">
        #{patientIdcard,jdbcType=VARCHAR},
      </if>
      <if test="patientMedicalcardnumber != null">
        #{patientMedicalcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientHealthcarecardnumber != null">
        #{patientHealthcarecardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientArea != null">
        #{patientArea,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null">
        #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="medicalcardBalance != null">
        #{medicalcardBalance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.buba.hospital.Bean.SecPatientExample" resultType="java.lang.Integer">
    select count(*) from sec_patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sec_patient
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null">
        disabled = #{record.disabled,jdbcType=BIT},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.patientName != null">
        patient_name = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientTel != null">
        patient_tel = #{record.patientTel,jdbcType=VARCHAR},
      </if>
      <if test="record.patientIdcard != null">
        patient_idCard = #{record.patientIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.patientMedicalcardnumber != null">
        patient_medicalCardNumber = #{record.patientMedicalcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.patientHealthcarecardnumber != null">
        patient_healthCareCardNumber = #{record.patientHealthcarecardnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.patientArea != null">
        patient_area = #{record.patientArea,jdbcType=VARCHAR},
      </if>
      <if test="record.patientAddress != null">
        patient_address = #{record.patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null">
        is_default = #{record.isDefault,jdbcType=BIT},
      </if>
      <if test="record.medicalcardBalance != null">
        medicalCard_balance = #{record.medicalcardBalance,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sec_patient
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      patient_name = #{record.patientName,jdbcType=VARCHAR},
      patient_tel = #{record.patientTel,jdbcType=VARCHAR},
      patient_idCard = #{record.patientIdcard,jdbcType=VARCHAR},
      patient_medicalCardNumber = #{record.patientMedicalcardnumber,jdbcType=VARCHAR},
      patient_healthCareCardNumber = #{record.patientHealthcarecardnumber,jdbcType=VARCHAR},
      patient_area = #{record.patientArea,jdbcType=VARCHAR},
      patient_address = #{record.patientAddress,jdbcType=VARCHAR},
      is_default = #{record.isDefault,jdbcType=BIT},
      medicalCard_balance = #{record.medicalcardBalance,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.buba.hospital.Bean.SecPatient">
    update sec_patient
    <set>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientTel != null">
        patient_tel = #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="patientIdcard != null">
        patient_idCard = #{patientIdcard,jdbcType=VARCHAR},
      </if>
      <if test="patientMedicalcardnumber != null">
        patient_medicalCardNumber = #{patientMedicalcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientHealthcarecardnumber != null">
        patient_healthCareCardNumber = #{patientHealthcarecardnumber,jdbcType=VARCHAR},
      </if>
      <if test="patientArea != null">
        patient_area = #{patientArea,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null">
        patient_address = #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="medicalcardBalance != null">
        medicalCard_balance = #{medicalcardBalance,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buba.hospital.Bean.SecPatient">
    update sec_patient
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_tel = #{patientTel,jdbcType=VARCHAR},
      patient_idCard = #{patientIdcard,jdbcType=VARCHAR},
      patient_medicalCardNumber = #{patientMedicalcardnumber,jdbcType=VARCHAR},
      patient_healthCareCardNumber = #{patientHealthcarecardnumber,jdbcType=VARCHAR},
      patient_area = #{patientArea,jdbcType=VARCHAR},
      patient_address = #{patientAddress,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      medicalCard_balance = #{medicalcardBalance,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>