<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital.Mapper.UserMapper">
   <!-- SecUser login(String phone);-->
    <select id="login" resultType="com.buba.hospital.Bean.SecUser">
        select * from sec_user where phone=#{phone}
    </select>
   <!-- Integer getDefaultPatient(Integer userId);-->
    <select id="getDefaultPatient" resultType="integer" >
        select id from sec_patient where user_id=#{userId} and is_default=0
    </select>
   <!-- boolean addPatient(SecPatient patient);-->
    <insert id="addPatient">
        insert into sec_patient (id,
      createtime, user_id, patient_name,
      patient_tel, patient_idCard, patient_medicalCardNumber,
      patient_healthCareCardNumber, patient_area,
      patient_address, is_default
      )
    values (null,
      now(), #{userId,jdbcType=INTEGER}, #{patientName,jdbcType=VARCHAR},
      #{patientTel,jdbcType=VARCHAR}, #{patientIdcard,jdbcType=VARCHAR}, #{patientMedicalcardnumber,jdbcType=VARCHAR},
      #{patientHealthcarecardnumber,jdbcType=VARCHAR}, #{patientArea,jdbcType=VARCHAR},
      #{patientAddress,jdbcType=VARCHAR}, 1
      )
    </insert>
   <!-- List<SecPatient> getPatientList(Integer userId);-->
    <select id="getPatientList" resultType="com.buba.hospital.Bean.SecPatient">
          select  * from sec_patient where user_id=#{userId}
    </select>
    <!--SecPatient getPatientById(Integer id);-->
    <select id="getPatientById" resultType="com.buba.hospital.Bean.SecPatient">
      select * from sec_patient where id=#{id}
    </select>
    <!--boolean updatePatient(SecPatient patient);-->
    <update id="updatePatient">
        update sec_patient set patient_name=#{patientName},
        patient_tel=#{patientTel},
        patient_idCard=#{patientIdcard},
        patient_area=#{patientArea},
        patient_address=#{patientAddress},
        patient_healthCareCardNumber=#{patientHealthcarecardnumber}
        where id=#{id}
    </update>
   <!-- boolean deletePatient(Integer id);-->
    <delete id="deletePatient">
        delete from sec_patient where id=#{id}
    </delete>

   <!-- boolean updateIsDefault0(Integer checkId);-->
    <update id="updateIsDefault0">
      update sec_patient set  is_default=1 where id=#{checkId}
    </update>
    <!--boolean updateIsDefault1(Integer uncheckId);-->
    <update id="updateIsDefault1">
      update sec_patient set  is_default=0 where id=#{uncheckId}
    </update>

</mapper>
